<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop.admin.mapper.goods.IGoodsCommonMapper">

<select id="findGoodsListCount" parameterType="com.fh.shop.admin.param.goods.GoodsSearchParam" resultType="long">
	select count(*) from t_goods_common <include refid="goodsWhere"></include>
</select>

	<sql id="goodsWhere">
		<where>
			<if test="productName != null and productName != ''">
				productname like concat('%',#{productName},'%')
			</if>
			<if test="brandId != null and brandId > -1">
				and brandId = #{brandId}
			</if>
		</where>
	</sql>

<select id="findGoodsPageList" parameterType="com.fh.shop.admin.param.goods.GoodsSearchParam" resultType="com.fh.shop.admin.po.goods.GoodsCommon">
	select t.* from (select id,
	productName,
	price,
	stock,
	brandId,
	brandName,
	cate1,
	cate2,
	cate3,
	cateName,
	attrInfo,
	specInfo
	from t_goods_common
	<include refid="goodsWhere"></include>
	order by id desc
	) t limit #{start},#{length}
</select>


</mapper>