<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop.admin.mapper.log.ILogMapper">


<insert id="addLog" parameterType="com.fh.shop.admin.po.log.Log">
	insert into t_log (userName,realname,info,insertTime,status,content,paramInfo)
	values (#{userName},#{realName},#{info},#{insertTime},#{status},#{content},#{paramInfo})
</insert>
	
	<select id="findLogListCount" parameterType="com.fh.shop.admin.param.log.LogSearchParam" resultType="long">
		select count(*) from t_log
	</select>
	
	<select id="findLogPageList" parameterType="com.fh.shop.admin.param.log.LogSearchParam" resultType="com.fh.shop.admin.po.log.Log">
		select t.* from (
		select id,userName,realname,info,insertTime,status,content,paramInfo from t_log
		order by id desc
		) t limit #{start},#{length}
	</select>

</mapper>