<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop.admin.mapper.type.TypeMapper">


<select id="findListCount" parameterType="com.fh.shop.admin.param.type.TypeSearchParam" resultType="long">
	select count(*) from t_type
</select>
	
	
	<select id="findPageList" parameterType="com.fh.shop.admin.param.type.TypeSearchParam" resultType="com.fh.shop.admin.po.type.Type">
		select t.* from (select id,typeName from t_type order by id desc) t
		limit #{start},#{length}
	</select>

</mapper>